<div class="ui text container">
		<div class="ui raised segment">
			<div class="ui middle aligned divided selection list">
				
				<div class="item" *ngFor="let stuff of stuffes">
					<div class="right floated content">
						<button class="ui blue icon button" type="button">
							<i class="edit outline icon"></i>
							</button> 
						<button class="ui red icon button" type="button" (click)="delStuff(stuff.id)">
							<i class="trash outline icon"></i>
						</button>
					</div><img class="ui avatar image" src="/images/christian.jpg">
					<div class="content">
						<div class="header">
							{{ stuff.firstname }} {{ stuff.lastname }} Age: {{ stuff.age }}
						</div>{{ stuff.department }}
					</div>
				</div>
				
			</div>
			<div class="ui horizontal divider">
				Or
			</div>
			<div class="ui teal labeled icon button">
				Add employer <i class="add icon"></i>
			</div>
		</div>
	</div>
	
	<div class="ui text container">
		<div class="ui raised segment">
			<form class="ui form">
			  <div class="field">
				<label>First Name</label>
				<input type="text" name="first-name" placeholder="First Name" #firstname>
			  </div>
			  <div class="field">
				<label>Last Name</label>
				<input type="text" name="last-name" placeholder="Last Name" #lastname>
			  </div>
			  <div class="field">
				<label>Age</label>
				<input type="text" name="last-name" placeholder="Age" #age>
			  </div>
			  <div class="field" *ngIf="departaments.length">
				<label>State</label>
					<select class="ui fluid dropdown" (change)="ziga(department.value)" #department>
							<option *ngFor="let department of departaments" value="{{department.name}}">{{department.name}}</option>
					</select>
				</div>
			  <button class="ui button" type="submit" (click)="addStuff(firstname.value,lastname.value,age.value,department.value)">Submit</button>
			</form>
		</div>
	</div>